.card__product__cart {
  margin-bottom: 1rem;
  max-width: 1200px;
  min-width: 31%;
  flex-grow: 1;
  box-sizing: border-box;
}

.button__add__outlined {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.25rem;
  margin: auto;
}

.button__add__outlined:hover{
  background-color: var(--primary-color);
  color: white;
}
